/* Efetuar Login */
.conteudologin{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
     

}

.conteudoform{
    display: flex;
    flex-direction: column;
    border: unset;
    font-size: 21px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #8547AA;
    margin-right: 35px;
    margin-top: 30px;
}

.incialtitulo{
    font-size: larger;
    align-content: flex-start;
    margin-top: 20px;
}
.conteudoform input{
    outline: unset;
    padding: 10px;
    width: 100%;
    border-radius: 20px;
    border-color: #3F3F53;

}

.conteudoform input:focus{
    border-color: #8547AA;

}

.conteudoform, input[type="submit"]{
    box-sizing: content-box;
    font-size: large    ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    color: white;
    justify-content: center;
    border-color: #3F3F53;
    background-color: #3F3F53;
    box-shadow: unset;
    margin-bottom: 10px;
    
}

.conteudoform, input[type="submit"]:hover{
    color: #8547AA;
    border-color:white;
    background-color: white;

}

.links_index{
    justify-content: flex-start;
    text-decoration: none;
    color: #8547AA;
    align-items: center;
    display: flex;
    margin: 10px;


}

.conteudologin img{
    width: 50%;
}


.selecaoform{
    box-sizing: content-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #8547AA;
    justify-content: center;
    text-align: center;
    font-size: medium;
    border-color: #3F3F53;
    border-radius: 15px;
    padding: 5px;
    margin: 5px;
    width: 100%; 
}
/*Reset de Senha*/

.formresetsenha{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 400px;
}

.senhafieldset{
    border: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.senhafieldset label{
    font-size: x-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #8547AA;

}
.senhafieldset input{
    outline: unset;
    font-size: medium;
    width: 200%;
    height: 25px;
    border-radius: 20px;
    border-color: #3F3F53;
    margin-top: 10px;

}
.senhafieldset input:focus{
    border-color:#8547AA;
}