<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Conta</title>
    <link rel="stylesheet" href="/styles/startspages_styles.css">
</head>

<body>
    <main>
        <section class="conteudologin">
            <img src="/assets/conecta_estagio.svg" alt="Logo da Empresa">
            <form action="">
                <fieldset class="conteudoform">
                    <legend class="incialtitulo">Criar Conta</legend>
                    <label for="email">E-mail</label>
                    <input type="email" id="email" name="E-mail"><br>
                    <label for="senha">Senha</label>
                    <input type="password" id="senha" name="Senha"><br>
                    <label for="confirmarSenha">Confirmar Senha</label>
                    <input type="password" id="confirmarSenha" name="confirmarSenha"><br>
                    <label for="CPF">CPF</label>
                    <input type="number" id="CPF" name="CPF"><br>
                 
                   <select class="selecaoform" name="Instituicao" id="Instituicao">
                    <option value="valor1">IF Baiano CAMPUS Catu</option>
                   </select>

                   <select class="selecaoform" name="curso" id="Curso">
                    <option value="valor1">ADS</option>
                   </select>
                     <br>
                    <input type="submit" value="Criar Conta">
                    
                    
                 
            </form>
            <div>
                <a class="links_index" href="/index.html">Login</a>

            </div>

           
        </section>


    </main>

    <footer>
    </footer>

    <script src="/js/main.js"></script>
</body>
</html>