<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redefinir Senha</title>
    <link rel="stylesheet" href="/styles/startspages_styles.css">
</head>
<body>
    <main>
        <form   action="" class="formresetsenha">
            <fieldset class="senhafieldset">
                <label  for="nova_senha">Nova Senha</label>  
                <input  type="password" id="nova_senha">
                <label  for="nova_senha">Confirme a Senha </label> 
                <input  type="password" id="nova_senha">

                <input  type="submit" value="CONFIRMAR">
            </fieldset>
        </form>
    </main>
    <script src="/js/main.js"></script>
</body>
</html>